do_token = "your digital ocean API token"
region = "nyc1"
api_droplet_id = "id of the Learning Platform API droplet"
docker_registry="your container registry name"
do_username="your digital ocean username"
foundations_client_id="foundations course OAuth app client id"
foundations_client_secret="foundations course OAuth client secret"
proxy_allowed_origins="domain where the foundations client app is deployed"